
services:
    db:
        image: postgres:15.4-alpine3.18
        container_name: foreverdm_db
        restart: always
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: foreverdm
        ports:
            - "${DB_PORT}:${DB_PORT}"
        volumes:
            - db_data:/var/lib/postgresql/data
            - ./database/scripts/init.sql:/docker-entrypoint-initdb.d/init.sql

    backend:
        image: python:3.11-slim
        container_name: foreverdm_backend
        restart: always
        working_dir: /app
        volumes:
            - ../../:/app
        ports:
            - "5000:5000"
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            DB_ADDRESS: db
            DB_PORT: ${DB_PORT}
            GOOGLE_OAUTH_CLIENT: ${GOOGLE_OAUTH_CLIENT}
            GOOGLE_OAUTH_SECRET: ${GOOGLE_OAUTH_SECRET}
            FLASK_ENV: development
        depends_on:
            - db
        command: sh -c "pip install -r requirements.txt && python -m flask --app server.backend.app run --host=0.0.0.0"

    frontend:
        image: node:20-alpine
        container_name: foreverdm_frontend
        restart: always
        working_dir: /webapp
        volumes:
            - ../frontend:/webapp
        ports:
            - "${VITE_SITE_PORT}:5173"
        environment:
            VITE_SITE_URL: ${VITE_SITE_URL}
            VITE_BACKEND_API_URL: ${VITE_BACKEND_API_URL}
            VITE_DB_URL: ${VITE_DB_URL}
            VITE_DB_USERNAME: ${VITE_DB_USERNAME}
            VITE_DB_PASSWORD: ${VITE_DB_PASSWORD}
        depends_on:
            - backend
        command: sh -c "npm install && npm run dev -- --host"

volumes:
    db_data: